In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [3]:
#To skip rows
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv", skiprows =1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2   RIL  not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [4]:
#To skip rows second method
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv", header = 1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2   RIL  not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [5]:
# If there is no header
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv", header = None)
df

         0              1        2      3              4
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4      RIL  not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [22]:
#To add headers
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv" , header = None, names = ['tickers', 'eps', 'revenue','price','people'])
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [30]:
# To read only particular rows
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv" , nrows = 3)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

In [31]:
#For n.a.(Not Available) values
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv", na_values= ["Not Available","n.a."])
df

  tickers            eps  revenue   price         people
0   GOOGL          27.82       87   845.0     larry page
1     WMT           4.61      484    65.0            NaN
2    MSFT             -1       85    64.0     bill gates
3     RIL  not available       50  1023.0  mukesh ambani
4    TATA            5.6       -1     NaN     ratan tata

In [32]:
#To remove negative values with NaN
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv",na_values=["not available","n.a.",-1])
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT    NaN     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [36]:
#By supplying dictionary we can replace NaN values
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\stocks_data.csv",na_values={
    'tickers':["not available","n.a."],
    'eps':["not availabe","n.a."],
    'revenue':["not available","n.a.",-1],
    'price':["not available","n.a."]
})
df

  tickers            eps  revenue   price         people
0   GOOGL          27.82     87.0   845.0     larry page
1     WMT           4.61    484.0    65.0           n.a.
2    MSFT             -1     85.0    64.0     bill gates
3     RIL  not available     50.0  1023.0  mukesh ambani
4    TATA            5.6      NaN     NaN     ratan tata

In [6]:
# With Index value
df.to_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\new.csv")

In [8]:
# Without Index value
df.to_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\new.csv", index = False)

In [44]:
# To write only few columns
df.to_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\new.csv", columns = ['tickers','price','people'], index = False)

In [49]:
#To write a csv file without header
df.to_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\new.csv", header = False, index = False)

In [7]:
# To write an excel file
import pandas as pd
ab = pd.read_excel("C:\Users\Dell\PycharmProjects\coding\venv\pcm_result.xlsx", "Sheet1")
ab

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1925773729.py, line 3)

In [2]:
# To write an excel file using two or more data frames
import pandas as pd
df_stocks = pd.DataFrame(
    {'tickers' : ['GOOGL','WMT','MFST'],
    'price' : [845, 65, 64],
    'pe' : [30.37,14.26,30.97],
    'eps' : [27.82, 4.61, 2.12]})
df_weather = pd.DataFrame(
    {'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
    'temperature' : [32,35,28],
     'event' : ['Rain', 'Sunny', 'Snow']
    })
with pd.ExcelWriter('C:\\Stocks_Weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name = "stocks")
    df_weather.to_excel(writer, sheet_name = "weather")

ValueError: source code string cannot contain null bytes

In [ ]:
%debug

> c:\users\dell\appdata\local\programs\python\python310\lib\site-packages\openpyxl\xml\functions.py(36)<module>()
     34     register_namespace
     35     )
---> 36     from et_xmlfile import xmlfile
     37     if DEFUSEDXML is True:
     38         from defusedxml.ElementTree import fromstring

ipdb> first
*** NameError: name 'first' is not defined
ipdb> second
*** NameError: name 'second' is not defined
ipdb> 36
36
ipdb> 37
37
ipdb> In[2]
*** NameError: name 'In' is not defined
ipdb> [2]
[2]